<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicTacToeCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TicTacToeUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0702F3811E1D59CF008BBBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0702F3951E1D59D0008BBBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0702F3A01E1D59D0008BBBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0702F3B71E1D5A54008BBBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0702F3BF1E1D5A55008BBBFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
